# 忽略AD产生的中间文件
1.Hardware/RemoteSwitch/__Previews
1.Hardware/RemoteSwitch/History
1.Hardware/RemoteSwitch/Logs for RemoteSwitch
1.Hardware/RemoteSwitch/Project Outputs for RemoteSwitch
1.Hardware/RemoteSwitch/*.PrjPcbStructure
1.Hardware/RemoteSwitch/*.zip
